html {
  box-sizing: border-box;
  -webkit-text-size-adjust:none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f0f4f6;
  font-family: 'Nunito', sans-serif;
}

body[opened] {
  overflow: hidden;
}

/*skip nav*/
.skipnav {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: fixed;
  height: 1px;
  width: 1px;
  z-index: 3;
}
.skipnav:hover,
.skipnav:active,
.skipnav:focus {
  background-color: #000;
  border-radius: 3px;
  clip: auto!important;
  color: #fff;
  outline: none;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  height: auto;
  left: 8px;
  top: 8px;
  padding: .5rem 1rem;
  text-decoration: none;
  width: auto;
}



:root {
  --app-topbar-height: 56px;
  --app-topbar-bg-color: #006bae;
  --app-topbar-btn-bg: transparent;
  --app-topbar-btn-bg-hover: #007ece;
  --app-navicon-inactive: #fff;
  --app-sidebar-width: 240px;
  --app-guide-bg-color: #fff;
  --app-guide-header-bg: #006bae;
  --app-mini-guide-bg-color: #fff;
  --app-mini-guide-width: 72px;
  --app-main-bg: #f0f4f6;
  --padding-base: 8px;
  --padding-base-2x: 16px;
  --padding-base-3x: 24px;
  --app-icon-inactive: #424242;
  --app-icon-active: #006bae;
  --app-nav-link-bg: transparent;
  --app-nav-link-bg-active: #f0f4f6;
  --app-nav-link-bg-hover: #e4eff4;
  --app-nav-link-color: #757575;
  --app-nav-link-color-hover: #000;
  --app-nav-link-color-active: #005082;
}

/*app-topbar*/
.app-topbar {
  background-color: var(--app-topbar-bg-color);
  height: var(--app-topbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.app-topbar-navicon {
  background-color: var(--app-topbar-btn-bg);
  height: 40px;
  width: 40px;
  padding: var(--padding-base);
  margin: 0 4px 0 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}

.app-topbar-navicon>svg {
  fill: var(--app-navicon-inactive);
}

.app-topbar-navicon:hover,
.app-topbar-navicon:focus {
  background-color: var(--app-topbar-btn-bg-hover);
}

/*search*/
.app-topbar-search-btn {
  background-color: var(--app-topbar-btn-bg);
  height: 40px;
  width: 40px;
  padding: var(--padding-base);
  margin: 0 4px 0 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}

.app-topbar-search-btn:hover,
.app-topbar-search-btn:focus {
  background-color: var(--app-topbar-btn-bg-hover);
}

.app-topbar-search-btn>svg {
  fill: var(--app-navicon-inactive);
}

/*alerts*/
.app-topbar-alerts-btn {
  background-color: var(--app-topbar-btn-bg);
  height: 40px;
  width: 40px;
  padding: var(--padding-base);
  margin: 0 4px 0 0;
  border: 0;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}

.app-topbar-alerts-btn:hover,
.app-topbar-alerts-btn:focus {
  background-color: var(--app-topbar-btn-bg-hover);
}


.app-topbar-alerts-btn>svg {
  fill: var(--app-navicon-inactive);
}

.app-topbar-alerts-counter {
  background-color: #26c6da;
  color: #fff;
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 50%;
  border: var(--app-topbar-bg-color) 2px solid;
  font-size: .6875rem;
  font-weight: 600;
  width: 12px;
  height: 12px;
}

/*app-sidebar*/
.app-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
}

.app-sidebar[opened]:not([persistent]) {
  z-index: 2;
  width: 100%;

}

.app-sidebar[persistent] {
  width: var(--app-sidebar-width);
}

.app-sidebar[persistent]:not([opened]) {
  width: var(--app-mini-guide-width);
}


.app-sidebar-container {
  width: var(--app-sidebar-width);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
  transition-duration: 200ms;
}

.app-sidebar-container[opened] {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.app-scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: opacity;
  transform: translateZ(0);
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;

}

.app-scrim[visible] {
  opacity: 1;
  visibility: visible;
  transition-duration: 200ms;
}

.app-guide-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--app-guide-bg-color);
}

.app-guide-header {
  background-color: var(--app-guide-header-bg);
  height: var(--app-topbar-height);
  padding: var(--padding-base);
  display: none;
}

.app-guide-header[visible] {
  display: flex;
}

.app-guide-navicon {
  background-color: var(--app-topbar-btn-bg);
  height: 40px;
  width: 40px;
  padding: var(--padding-base);
  margin: 0 4px 0 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}

.app-guide-navicon:hover,
.app-guide-navicon:focus {
  background-color: var(--app-topbar-btn-bg-hover);
}

.app-guide-navicon>svg {
  fill: var(--app-navicon-inactive);
}

.app-guide-spacer {
  margin-top: var(--app-topbar-height);
  display: none;
}

.app-guide-spacer[visible] {
  display: block;
}

/*logo*/

.app-guide-logo-container {
  width: 80px;
  height: 40px;
  min-width: 80px;
}

.app-guide-logo {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

/*mini guide*/
.app-mini-guide {
  position: fixed;
  left: 0;
  top: var(--app-topbar-height);
  bottom: 0;
  display: inline-block;
  background-color: var(--app-mini-guide-bg-color);
  z-index: 1;
  width: var(--app-mini-guide-width);
}

.app-mini-guide[hidden] {
  display: none;
}


/*app-main*/
.app-main {
  background-color: var(--app-main-bg);
  margin-top: var(--app-topbar-height);
  display: flex;
  flex: 1;
  flex-basis: 0.000000001px;
}

.app-main[guide-persistent-and-visible] {
  margin-left: var(--app-sidebar-width);
}

.app-main[mini-guide-visible] {
  margin-left: var(--app-mini-guide-width);
}

.app-main-content {
  flex: 1;
  padding: var(--padding-base-3x);
  display: flex;
  flex-direction: column;
  justify-content: center;
}





/*header*/
.app-top-header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--padding-base);
}

/*logo*/

.app-topbar-logo-container {
  width: 80px;
  height: 40px;
  min-width: 80px;
}

.app-topbar-logo {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

/*topbar menu*/
.app-topbar-menu {
  /*background-color: plum;*/
  margin-left: auto;
  display: flex;
  padding: 3px;
}

.app-topbar-avatar-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.app-topbar-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.app-topbar-avatar-img {
  width: 100%;
  height: auto;
}


/*guide nav*/
.app-guide-nav-section {}

.app-guide-nav {
  display: flex;
  flex-direction: column;
}

.app-guide-nav-item {
  font-size: .875rem;
}

.app-guide-nav-link {
  background-color: var(--app-nav-link-bg);
  color: var(--app-nav-link-color);
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 48px;
  padding: 0 var(--padding-base-2x);
  text-decoration: none;
}

.app-guide-nav-link.active {
  background-color: var(--app-nav-link-bg-active);
  font-weight: 600;
  color: var(--app-nav-link-color-active);
}

.app-guide-nav-link:hover,
.app-guide-nav-link:focus {
  background-color: var(--app-nav-link-bg-hover);
  color: var(--app-nav-link-color-hover);
}


.app-guide-nav-icon {
  margin-right: var(--padding-base-2x);
  display: flex;
  height: 24px;
  width: 24px;
}

.app-guide-nav-icon>svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--app-icon-inactive);
}

.app-guide-nav-icon.active>svg {
  fill: var(--app-icon-active);
}

.app-guide-nav-txt {}








/*mini-guide nav*/
.app-mini-guide-nav-section {}

.app-mini-guide-nav {
  display: flex;
  flex-direction: column;
}

.app-mini-guide-nav-item {
  font-size: .625rem;
}

.app-mini-guide-nav-link {
  background-color: var(--app-nav-link-bg);
  color: var(--app-nav-link-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--padding-base-2x) 0;
  text-decoration: none;
}

.app-mini-guide-nav-link.active {
  background-color: var(--app-nav-link-bg-active);
  font-weight: 600;
  color: var(--app-nav-link-color-active);
}

.app-mini-guide-nav-link:hover,
.app-mini-guide-nav-link:focus {
  background-color: var(--app-nav-link-bg-hover);
  color: var(--app-nav-link-color-hover);
}

.app-mini-guide-nav-icon {
  display: flex;
  height: 24px;
  width: 24px;
  margin-bottom: var(--padding-base);
}

.app-mini-guide-nav-icon>svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--app-icon-inactive);
}

.app-mini-guide-nav-icon.active>svg {
  fill: var(--app-icon-active);
}

.app-mini-guide-nav-txt {}
