html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  background-color: #eee;
  font-family: sans-serif;
}

body[opened] {
  overflow: hidden;
}

:root {
  --app-topbar-height: 56px;
  --app-topbar-bg-color: #fff;
  --app-sidebar-width: 240px;
  --app-guide-bg-color: #fafafa;
  --app-mini-guide-bg-color: #f5f5f5;
  --app-mini-guide-width: 72px;
  --app-main-bg: #eee;
  --padding-base: 8px;
  --padding-base-2x: 16px;
  --padding-base-3x: 24px;
  --app-icon-inactive: purple;
  --app-icon-active: red;
}

/*app-topbar*/
.app-topbar {
  background-color: var(--app-topbar-bg-color);
  height: var(--app-topbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.app-topbar-navicon{
    background-color: tomato;
    height: 40px;
    width: 40px;
    padding: var(--padding-base);
    margin: 0 4px 0 0;
    border: 0;
    cursor: pointer;
}


/*app-sidebar*/
.app-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
}
.app-sidebar[opened]:not([persistent]) {
  z-index: 2;
  width: 100%;

}
.app-sidebar[persistent] {
  width: var(--app-sidebar-width);
}
.app-sidebar[persistent]:not([opened]) {
  width: var(--app-mini-guide-width);
}


.app-sidebar-container {
  width: var(--app-sidebar-width);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
  transition-duration: 200ms;
}

.app-sidebar-container[opened] {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.app-scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: opacity;
  transform: translateZ(0);
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;

}
.app-scrim[visible] {
  opacity: 1;
  visibility: visible;
  transition-duration: 200ms;
}

.app-guide-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--app-guide-bg-color);
}

.app-guide-header {
  background-color: aliceblue;
  height: var(--app-topbar-height);
  padding: var(--padding-base);
  display: none;
}
.app-guide-header[visible] {
  display: flex;
}
.app-guide-navicon{
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: var(--padding-base);
  margin: 0 4px 0 0;
  border: 0;
  cursor: pointer;
}
.app-guide-spacer {
  background-color: lavender;
  margin-top: var(--app-topbar-height);
  display: none;
}
.app-guide-spacer[visible] {
  display: block;
}
/*logo*/

.app-guide-logo-container{
  width: 80px;
  height: 40px;
}
.app-guide-logo{
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

/*mini guide*/
.app-mini-guide {
  position: fixed;
  left: 0;
  top: var(--app-topbar-height);
  bottom: 0;
  display: inline-block;
  background-color: var(--app-mini-guide-bg-color);
  z-index: 1;
  width: var(--app-mini-guide-width);
}
.app-mini-guide[hidden] {
  display: none;
}


/*app-main*/
.app-main {
  background-color: var(--app-main-bg);
  margin-top: var(--app-topbar-height);
  display: flex;
  flex: 1;
  flex-basis: 0.000000001px;
}
.app-main[guide-persistent-and-visible] {
  margin-left: var(--app-sidebar-width);
}

.app-main[mini-guide-visible] {
  margin-left: var(--app-mini-guide-width);
}

.app-main-content {
  flex: 1;
  padding: var(--padding-base-3x);
}





/*header*/
.app-top-header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--padding-base);
}
/*logo*/

.app-topbar-logo-container{
  width: 80px;
  height: 40px;
}
.app-topbar-logo{
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

/*topbar menu*/
.app-topbar-menu{
  background-color: plum;
  margin-left: auto;
  display: flex;
  padding: 3px;
}

.app-topbar-avatar-btn{
  background-color: transparent;
  border: 0;
}
.app-topbar-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.app-topbar-avatar-img{
  width: 100%;
  height: auto;
}


/*guide nav*/
.app-guide-nav-section {
  xbackground-color: seagreen;
}
.app-guide-nav{
  display: flex;
  flex-direction: column;
}
.app-guide-nav-item {
  font-size: .875rem;
}
.app-guide-nav-link{
  background-color: LightCyan ;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 0 var(--padding-base-2x);
  text-decoration: none;
}
.app-guide-nav-icon{
  xbackground-color: orchid;
  margin-right: var(--padding-base-2x);
  display: flex;
  height: 24px;
  width: 24px;
}
.app-guide-nav-icon > svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--app-icon-inactive);
}

.app-guide-nav-icon.active > svg {
  fill: var(--app-icon-active);
}

.app-guide-nav-txt{
  xbackground-color: aqua;
}








/*mini-guide nav*/
.app-mini-guide-nav-section {
  xbackground-color: seagreen;
}
.app-mini-guide-nav{
  display: flex;
  flex-direction: column;
}
.app-mini-guide-nav-item {
  font-size: .625rem;
}
.app-mini-guide-nav-link{
  background-color: LightCyan ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: var(--padding-base-2x) 0;
  text-decoration: none;
}
.app-mini-guide-nav-icon{
  xbackground-color: orchid;
  display: flex;
  height: 24px;
  width: 24px;
  margin-bottom: var(--padding-base);
}
.app-mini-guide-nav-icon > svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--app-icon-inactive);
}

.app-mini-guide-nav-icon.active > svg {
  fill: var(--app-icon-active);
}

.app-mini-guide-nav-txt{
  xbackground-color: aqua;
}
